{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function (){
        $("#nav_messages").addClass("selected");
    });
</script>
{% endblock head %}

{% block bodyclass %}about{% endblock %}
{% block content %}
{% endblock %}
{% block contentTabs %}
<li id="tab_inbox"><a href="{% url messages_inbox %} ">&raquo;&nbsp;{% trans "Inbox" %}</a></li>
<li id="tab_outbox"><a href="{% url messages_outbox %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
<li id="tab_newmessage"><a href="{% url messages_compose %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
<li id="tab_trash"><a href="{% url messages_trash %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
{% endblock contentTabs %}