{% extends "messages/base.html" %} 
{% load i18n %}

{% block head %}
        {{ block.super }}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
    $(document).ready(function() {
        $("input#id_recipient").autocomplete({
            source: function( request, response ) {
                var term = request.term;
                var retval = $.getJSON('/lookup/user/'+term+'/', function(data){
                    response(data);
                });
                response(retval);
                return

            }
        });
    });
</script>
{% endblock head %}

{% block content %} 
<h1>{% trans "Compose Message"%}</h1>
<form action="" method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>

{% endblock %}