@charset "utf-8";
/* CSS Document */


body {
	background-color: #333333;
	background-image: url(images/Background_02.png);
	font-family: 'Cabin Condensed', sans-serif;
	z-index: -10;
}
div#wrapper{
	color: #CCCCCC;
	box-shadow: 0px 0px 20px 5px #FFFFFF;
	border-radius: 10px;
	padding: 8px;
	/* [disabled]margin: 35px auto 10px auto; */
	width: 850px;
	background-color: #333333;
	/* [disabled]min-width: 850px; */
	/* [disabled]max-width: 1080px; */
	z-index: 0;
	position: relative;
	top: 35px;
	left: 150px;
}
div#login {
	color: #999999;
	float: right;
	border: none;
	padding:8px;
	transition: color 2s;
	-moz-transition: color 2s;
	-webkit-transition: color 2s;
	-o-transition: color 2s;
	z-index: 2;
	clear: none;
}
div#login a:link, div#login a:visited, div#login a:hover{
	color: inherit;
	text-decoration:none;
}
div#login:hover{
	color: #F29F01;
}

div#header{
	float: left;
	min-height: 100px;
	border-radius: 10px 10px 0px 0px;
	/* [disabled]margin-bottom: 8px; */
	padding: 0px;
	margin: 8px auto 8px auto;
	z-index: 1;
	background-color: inherit;
	clear: none;
}
div#header img {
	border-width: 0px;
	border-style: none;
}


div#nav{
	color: #F29F01;
	float: left;
	width: 10em;
	border: 2px solid #F29F01;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	border-radius: 10px 0px 0px 10px;
	box-shadow: -2px 0px 15px #F29F01;
	background-color: #001F38;
	font-size: x-large;
	z-index: -1;
	position: fixed;
	height: auto;
	left: 175px;
	top: 225px;
	clear: both;
}

div#nav ul#nav{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-width: 0px;
	border-style: none;
	display:block;
}

ul#nav li{
	background-color:#001F38;
	padding-left:5px;
	transition: 		background-color .25s linear 0s, color .25s linear 0s;
	-moz-transition: 	background-color .25s linear 0s, color .25s linear 0s;
	-webkit-transition:	background-color .25s linear 0s, color .25s linear 0s;
	-o-transition: 		background-color .25s linear 0s, color .25s linear 0s;
	padding-right: 5px;
	border-radius: 10px 0px 0px 10px;
}
div#nav li:hover {
	background-color: #F29F01;
	color: #001F38;
}
div#nav a:link, div#nav a:visited, div#nav a:hover {
	text-decoration: none;
	color: inherit;
}
div#nav li.selected {
	background-color: #F29F01;
	color: #001F38;
}
div#nav li.inner {
	margin-left:15px;
	background-color: #F29F01;
	color: #001F38;
	border-radius: 0px 0px 0px 10px
}


div#contentTabs{
	z-index: 3;
	text-align: right;
	min-height: 25px;
	position: relative;
	bottom: 20px;
	margin: 2px 6px 0px 6px;
	border: none;
	height: 25px;
	padding-right: 12px;
	float: inherit;
	clear: inherit;
}

ul#tabs {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	z-index: 3;
	width: 100%;
}

ul#tabs li{
	display: inline;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #380000;
	padding: 0px 5px 0px 5px;
	background-color: #001F38;
	color:#F29F01;
	transition: 		background-color .5s;
	-moz-transition: 	background-color .5s;
	-webkit-transition:	background-color .5s;
	-o-transition:		background-color .5s;
	margin: 0px 0px 0px 0px;
	box-shadow: 1px -1px 10px #380000;
	/* [disabled]width: 100px; */
	/* [disabled]min-width: 100px; */
}

ul#tabs li.selected{
	background-color: #380000;
}
div#contentTabs li:hover {
	background-color: #380000;
	color: #F29F01;
	/* border: solid #0000CC 1px; */
}
div#contentTabs a:link, div#contentTabs a:visited, div#contentTabs a:hover {
	color:inherit;
	text-decoration:none;
}


div#contentPane{
	border: 2px solid #380000;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 2px 2px 15px #380000;
	padding: 2px 10px 2px 20px;
	position: relative;
	z-index: 2;
	margin: 5px;
	/* [disabled]top: 15px; */
	float: right;
	clear: both;
	background-color: #380000;
	width: 80%;
	min-height: 250px;
}
div#contentPane ul.grid {
	list-style: url(none) none;
	padding: 8px 2px 8px 2px;
	border-width: thin;
	border-style: groove;
	vertical-align: middle;
	margin: 5px;
}
div#contentPane ul.grid li {
	display: inline;
	margin: 4px;
	padding: 0px;
	height: 100px;
	width: 100px;
}
div#contentPane ul.grid li img{
	box-shadow: 0px 0px 10px 3px rgba(51,51,51,85);
	border-radius: 2px;
}

div#footer{
	clear: both;
	float: none;
	width: 100%;
	min-height: 25px;
	border-radius: 0px 0px 10px 10px;
	padding-top: 8px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	z-index: 1;
}

div#footer ul {
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	font-weight: bold;
	border-style: none;
}

div#footer li {
	display: inline;
	color: #999999;
	transition: color 2s;
	-moz-transition: color 2s;
	-webkit-transition: color 2s;
	-o-transition: color 2s;
}
div#footer li:hover {
	color: #F29F01;
}
div#footer a:link , div#footer a:visited, div#footer a:hover{
	color: inherit;
	text-decoration: none;
}
