@charset "utf-8";
/* CSS Document */

/* This stlyesheet contains all positioning details for box elements */

body{
	background-color: #333333;
	background-image: url(../images/Background_02.png);
	font-family: 'Open Sans', "Segoe UI", sans-serif;
	z-index: -10;
}

#wrapper {
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	max-width: 950px;
	min-width: 750px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 8px;
	z-index:0;
	color: #CCCCCC;
	box-shadow: 0px 0px 10px 0px #F9F9F9;
	border-radius: 6px;
	background-color: rgba(249,249,249,.65);
}
#login {
	float: right;
	padding:2px;
	z-index:2;
	color: #000000;
	border: none;
	transition: color 2s;
	-moz-transition: color 2s;
	-webkit-transition: color 2s;
	-o-transition: color 2s;
	font-size: larger;
	text-align: right;
}
#header {
	float: left;
	/* [disabled]height: 120px; */
	min-height: 100px;
	padding:0px;
	z-index:1;
	border-radius: 4px 4px 0px 0px;
	background-color:rgba(255,255,255,0);
}
#contentTabs {
	float: right;
	clear: both;
	position: relative;
	top: 2px;
	z-index:2;
	margin:0px;
	/* [disabled]padding-right:25px; */
	border: none;
	text-align: right;
	padding: 0px 25px 4px 0px;
	font-size: 18px;
}
#content {
	clear: none;
	float: right;
	position: relative;
	right: 10px;
	padding:5px 2em 5px 1.2em;
	margin:0px 0px 0px 8.7em;
	background-color: #1240AB;
	/* [disabled]border: 2px solid #274D7E; */
	border-radius: 6px;
	box-shadow: 0px 0px 10px 0px #274D7E;
	z-index:3;
	/* [disabled]min-width: 763px; */
	min-height: 20em;
	width: 763px;
	word-wrap: break-word;
	color: #FFFFFF;
}
#nav {
	/* [disabled]border: 2px solid #274D7E; */
	position: fixed;
	float: left;
	clear: both;
	margin: 0px;
	color: rgba(18,64,171,1);
	border-radius: 4px 0px 0px 4px;
	box-shadow: 0px 0px 15px 0px #274D7E;
	background-color: rgba(255,127,0,0.4);
	font-size: x-large;
	z-index:-1;
	padding: 0px;
	top: 212px;
	word-wrap: break-word;
}
#footer {
	clear: both;
	text-align: center;
	border-radius: 0px 0px 6px 6px;
	margin:0px;
	padding:10px 0px 0px 0px;
	z-index: 1;
}
