<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IM-Net</title>
    <link href="/static/css/position.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:500' rel='stylesheet' type='text/css' />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    {% endblock head %}
</head>

<body>
<div id="wrapper">
    <div id="login">
        {% if user.is_authenticated %}
        Welcome, {{ user.username }}. <a href="/accounts/logout">Logout!</a>
        {% else %}
        <a href="/accounts/login">Login</a>/<a href="/accounts/register">Register</a>
        {% endif %}

    </div>
    <div id="header">><a href="/"><img src="/static/images/logo_new.png" title="IM-Net Logo" alt="IM-Net Logo" /></a></div>
    <div id="contentTabs">
        <ul id="tabs">
            {% block contentTabs %}
            <li class="selected"><a href="#t1">Tab 1</a></li>
            <li><a href="#t2">Tab 2</a></li>
            <li><a href="#t3">Tab 3</a></li>
            <li><a href="#t4">Tab 4</a></li>
            {% endblock contentTabs %}
        </ul>
    </div>
    <div id="nav">
        {% block nav %}
        <ul id="navList">
            <li id="nav_messages"><a href="/messages" title="Inbox">Messages</a></li>
                {% block sidebar %}
                {% endblock %}
            <li><a href="/artists" title="Artist Home">Artist</a></li>
            <li><a href="labels" title="Label Management">Label</a></li>
            <li><a href="venues" title="Venue Management">Venue</a></li>
            <li><a href="fans" title="Fanships Management">Fan</a></li>
        </ul>
        {% endblock nav %}
    </div>
    <div id="content">
        {% block contentPane %}
         {% block content %}
            <p>All page content here</p>
        {% endblock content %}
        {% endblock contentPane %}
    </div>
    <div id="footer">
        <ul>
            <li><a href="#" title="About Us">About IM-Net</a></li>
            <li> | </li>
            <li><a href="#" title="Site Map">Site Map</a></li>
            <li> | </li>
            <li><a href="#" title="Contact Us">Contact</a></li>
        </ul>
    </div>
</div>

</body>
</html>
